body {
	background-color: white;
	overflow: hidden;
	font-family:Sans-serif;
	padding-left: 10%; 
}

/* Header Container */
section#header_container {
	margin-top: 20px;
	margin-left: 441px;
	height: 20px;
	width: 310px;
	padding: 5px;
	border-radius: 5px 5px 0px 0px;	
}
section#header_container div {
	margin-left: 5px;
	float: right;.
}
section#header_container:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* Loading Container */
div#loading_container {
	position: absolute;
	display: block;
	width: 761px;
	height: 241px;
	background-color: black;
	z-index: 10000;
    font-size: x-large;
    color: white;
    text-align: center;    
    padding-top: 160px;
    opacity:0.8;
	filter:alpha(opacity=0.8);
}
div#pageProgressBar {
	margin-top: 10px;
	margin-left: 280px;
	width: 200px;
	height: 15px;
	border: 1px solid black;
	border-radius: 5px;	
}
div#pageProgressBar_img {
	background-image:url('../images/progress/loading.png');	
	background-repeat:repeat-x;
	background-size: auto 15px;
	background-position: inherit;
	width: 150px;
	height: 15px;
	position:relative;
	border-radius: 3px;	
}

/* Profile Container */
div#profile_container {
	position: absolute;
	width: 750px;
	height: 60px;
	margin: 1px;
	padding-top: 10px;
	padding-left: 10px;
	background-color: black;
	z-index: 9999;
    font-size: small;
    opacity:0.8;
	filter:alpha(opacity=0.8);
	color: white;
}
div#profile_container span {
	padding: 10px;	
}
div#profile_container div {
	float: left;
	margin-left: 5px;
}
div#profile_container:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* Interface Container */
section#interface {	
	display: none;
	background-color: #ccc;
	width: 760px;
	height: 100px;
	margin-top: 10px;
}

/* Content Container */
#content_container {
	margin: 0px;
	width: 760px;
	height: 400px;
	padding-top: 0px;
	background-color: white;
}
#content_container:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* Popup Container */
#popup_container {
	position: absolute;
	display: none;
	width: 300px;
	height: 50px;
	margin-top: 150px;
	margin-left: 220px;
	padding: 20px 5px 0px 5px;
	background-color: black;
	z-index: 9998;
	font-size: small;
	opacity:1;
	filter:alpha(opacity=1);
	border-radius: 5px;
	text-align: center;
	color: white;
}

/* Chat Container */
#chat_container {
	position: absolute;
	width: 300px;
	height: 100px;
	margin-top: 80px;
	margin-left: 444px;
	padding: 5px;
	background-color: white;
	z-index: 9998;
	font-size: small;
	opacity: 0.8;
	filter:alpha(opacity=0.8);
	border-radius: 5px;
	overflow:hidden;
}

/* Bottom Console */
#console {
	position: absolute;
	width: 651px;
	height: 31px;
	padding-left: 110px;
	color: white;
	margin-left: 0px;
	margin-top: 370px;
	background-color: black;
	z-index: 9998;
    font-size: small;
    opacity:0.8;
	filter:alpha(opacity=0.8);
}
#console #console_text {
	position: absolute;
	margin-top: 4px;
}
#console #message_box {
	position: absolute;
	margin-top: 4px;
	margin-left: 245px;
	width: 340px;
	z-index: 9998;
}
#console #message_sendBtn {
	position: absolute;
	margin-top: 4px;
	margin-left: 595px;
	z-index: 9998;
}

/* User List Container */
#userlist_container {
	position: absolute;
	margin-left: 1px;
	margin-top: 71px;
	padding-left: 5px;
	width: 100px;
	height: 300px;
	background-color: white;
	color: black;
	z-index: 9998;
    font-size: small;
    opacity:0.8;
	filter:alpha(opacity=0.8);
	border-radius: 0px 0px 0px 0px;
}	

/* User Bubble */
.bubble {
	position: relative;
	width: 100px;
	height: auto;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px 5px 5px 0px;
	opacity:1;
	filter:alpha(opacity=1);
	font-size: small;
	color: white;
	text-decoration: none;
	background-color: #424242;		
	padding: 5px;
	top:0px;
	left:0px;
	z-index: 9999;
}

/* Dice */
#bubble_dice {
	position: absolute;
	margin-left: 100px;
	margin-top: -50px;
	padding: 5px 5px;
	width: 180px;
	color: white;
	text-decoration: none;
	background-color: #424242;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	opacity:0;
	filter:alpha(opacity=0);
}
#diceview {
	position: absolute;
	-webkit-perspective: 0;
	-webkit-perspective-origin: 0% 300px;
	margin-top: 307px;
	margin-left: 1px;
	background-color: #B40404;
	width: 100px;
	height: 90px;
	-moz-border-radius: 80px;
	-webkit-border-radius: 80px;
	border-radius: 0px 40px 0px 30px;
	border: 2px solid #424242;
	z-index: 9999;
	opacity:0.8;
	filter:alpha(opacity=0.8);
}
#cube {
	position: relative;
	margin-left: 20px;
	margin-top: 10px;
	height: 60px;
	width: 60px;
	-webkit-transition: -webkit-transform 0.5s linear;
	-webkit-transform-style: preserve-3d;
}
.face {
	position: absolute;
	height: 60px;
	width: 60px;
	padding: 0px;
	background-color: rgba(50, 50, 50, 1);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	text-align: center;
	font-family:"Times New Roman";
	line-height:70%;
	color: white;
}
#cube .one  {
	-webkit-transform: rotateX(90deg) translateZ(30px);
}

#cube .two {
	-webkit-transform: translateZ(30px);
}

#cube .three {
	-webkit-transform: rotateY(90deg) translateZ(30px);
}

#cube .four {
	-webkit-transform: rotateY(180deg) translateZ(30px);
}

#cube .five {
	-webkit-transform: rotateY(-90deg) translateZ(30px);
}

#cube .six {
	-webkit-transform: rotateX(-90deg) translateZ(30px) rotate(180deg);
}